LIVEKIT_URL=ws://localhost:7880
LIVEKIT_API_KEY=REPLACE_WITH_API_KEY
LIVEKIT_API_SECRET=REPLACE_WITH_API_SECRET
ASR_ENDPOINT=http://localhost:18001
VLLM_ENDPOINT=http://localhost:18002/v1
TTS_ENDPOINT=http://localhost:18003
